.custom-nav-area-left a {
  text-decoration: none;
}

.custom-nav-area-left a:link {
  text-decoration: none;
}

.custom-nav-area-left a:visited {
  text-decoration: none;
}

.custom-nav-area-left a:hover {
  text-decoration: none;
}

.custom-nav-area-left a:active {
  text-decoration: none;
}