<div class="custom-navbar">
  <div class="container mb-2">
    <div class="row">
      <table>
        <tr>
          <td class="custom-nav-area-left">
            <a routerLink="/posts"><span>Pommenser</span></a>
          </td>
          <td class="custom-nav-area-right">
            <button class="btn btn-info"
                    *ngIf="tokenService.currentUserData"
            >
              {{tokenService.currentUserData?.email.split('@')[0]}}
            </button>
            <button class="btn btn-outline-secondary"
                    (click)="toSignin()"
                    *ngIf="!tokenService.currentUserData"
            >
              Login
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
